img {
	border-radius: 15px;
	border: 5px double #333;
}
.button {
	font-family: Comic Sans MS;
	padding: 15px 25px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #fab;
	border-radius: 15px;
	border: 5px outset #aff;
	background-color: #333;
	color: #eee;
}
.button:active {
	padding: 20px 30px;
	border: 2px outset #aff;
	transform: translateY(7px);
}
.button:hover {
	background-color: #222;
	border: 4px outset #aff;
	color: #eee;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	animation: 0.5s rumble infinite;
}
body {
	text-align: center;
	background: linear-gradient(135deg, red,orange,yellow,green,blue,purple);
}
::-webkit-scrollbar {
	box-shadow: 2px 0px 25px 0px #eee;
	width: 10px;
	background: rgb(20,25,25);
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.75);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, 1);
}
.pinktext {
	color: rgb(20,25,25);
	font-family: Comic Sans MS;
}
#anchor {
	background-color: rgba(200,200,200,0.6);
}
#dark {
	right: 50.25vw;
	background-color: #666;
	color: #ddd;
	border: none;
	border-radius: 5px 0px 0px 5px;
}
#light {
	left: 50.25vw;
	background-color: #ddd;
	color: #333;
	border: none;
	border-radius: 0px 5px 5px 0px;
}
#dark,
#light {
	position: absolute;
	top: 1vh;
	transition-duration: 0.4s;
	padding: 7px;
	margin: 3px;
}
#dark:hover,
#light:hover {
	padding: 10px;
	margin: 0px;
}
#light:focus,
#dark:focus {
	border: 5px outset #aff;
	outline: none;
}
a {
	color: #225;
	text-decoration: line-through;
}
a:hover {
	color: #337;
	text-decoration: none;
	font-weight:bold;
}
@keyframes rumble {
	25%{
		transform: translateX(20px);
	}
	75%{
		transform: translateX(-20px);
	}
}
